<h3><%= @user.email %></h3>
<ul>
    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
</ul>

<h3>My Bookmarks</h3>
<ul>
    <% @topics.each do |f| %>
        <h4><%= f.title %><%= link_to "", topic_url(f), :remote => true, method: :delete, class: 'glyphicon glyphicon-remove delete_item' %></h4>
        <% f.bookmarks.each do |b| %>
            <p><%= b.url %></p>
        <% end %>
        
    <% end %>
</ul>

